
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-contrast: #fe5f55;
  --clr-accent1: #1962a1;
  --clr-accent2: #577399;
  --clr-bg: #f7f7ff;
  --clr-font: #242424;
  --clr-shadow: #808080;
}


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--colorBg);
  background-color: rgb(53, 53, 53);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}


html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}


.App {
  text-align: center;
  color: var(--clr-font);
  max-height: 100vh;
}

.AppPage {
  background-color: var(--clr-bg);
  /* height: 100%; */
  /* min-height: 500px; */
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 15px;
  min-height: 300px;

}

.page {
  display: flex;
  min-height: 100%;
  height: 100%;

}
.page-display {
  margin: 0 auto;
  padding: 1.4em 2em;
}

.module {

}