
.Form {
    margin: 0 auto;
        display: flex;
    justify-content: center;

}

.form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}












