.SideNav {
  height: 100%;
  background-color: var(--clr-contrast);
  color: #fff;
  padding: 1.2em 1em;
  /* min-height: 100vh; */
  width: 25%;
}

.side-nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-nav-item {
  list-style-type: none;
  text-align: left;
}

.side-nav-link {
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
}
